.clock {
	/* width: 40vw; */
	height: 60vh;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	top: -20px;
}

.session-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#break-length,
#session-length {
	cursor: default;
}

#timer-label,
#time-left {
	user-select: none;
	font-size: large;
	text-align: center;
}

#time-left {
	font-size: 50px;
}

#header {
	font-size: 25px;
	margin: 0;
	margin-top: 10px;
}
